/* Reset Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/****************
Utility
****************/
body {
    background-color: #DDDDDD;
    font-family: Arial, Helvetica,
        sans-serif
}

h1 {
    color: #29B1DD;
    padding: 1rem 0 0 1rem;
}

.blue {
    color: #0000FF;
}

.orange {
    color: #FFA500;
}

.purple {
    color: #800080;
}

/****************
Header
****************/
header {
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29B1DD;
    padding: 1rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

nav>p {
    margin-right: 1rem;
}

/****************
Main
****************/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container::after {
    content: "";
    flex: auto;
}

.container>div:last-child {
    margin-left: 1rem;
}

.card {
    width: calc(100% / 6);
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 1px 2px grey;
    margin: 1.5rem 0.5rem;
    padding: 1rem 0;
    text-align: center;
}

.card i {
    font-size: 2rem;
}

.card p {
    margin-top: 0.3rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}